In [97]:
import re
import numpy as np
import pandas as pd

In [98]:
%cd /content/drive/MyDrive/Yup

/content/drive/MyDrive/Yup

In [99]:
df = pd.read_csv('./data/HDFS_100k.log_structured.csv')
df.head()

   LineId   Date  ...  EventId                                  EventTemplate
0       1  81109  ...       E5       Receiving block <*> src: /<*> dest: /<*>
1       2  81109  ...      E22            BLOCK* NameSystem.allocateBlock:<*>
2       3  81109  ...       E5       Receiving block <*> src: /<*> dest: /<*>
3       4  81109  ...       E5       Receiving block <*> src: /<*> dest: /<*>
4       5  81109  ...      E11  PacketResponder <*> for block <*> terminating

[5 rows x 9 columns]

In [100]:
text = df[['LineId','Content']]
text.head()

   LineId                                            Content
0       1  Receiving block blk_-1608999687919862906 src: ...
1       2  BLOCK* NameSystem.allocateBlock: /mnt/hadoop/m...
2       3  Receiving block blk_-1608999687919862906 src: ...
3       4  Receiving block blk_-1608999687919862906 src: ...
4       5  PacketResponder 1 for block blk_-1608999687919...

In [101]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [102]:
# 토큰화
text['Content'] = text.apply(lambda row: nltk.word_tokenize(row['Content']), axis=1)
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   LineId                                            Content
0       1  [Receiving, block, blk_-1608999687919862906, s...
1       2  [BLOCK*, NameSystem.allocateBlock, :, /mnt/had...
2       3  [Receiving, block, blk_-1608999687919862906, s...
3       4  [Receiving, block, blk_-1608999687919862906, s...
4       5  [PacketResponder, 1, for, block, blk_-16089996...

In [103]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [104]:
# 불용어 처리
stop = stopwords.words('english')
text['Content'] = text['Content'].apply(lambda x: [word for word in x if word not in (stop)])
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   LineId                                            Content
0       1  [Receiving, block, blk_-1608999687919862906, s...
1       2  [BLOCK*, NameSystem.allocateBlock, :, /mnt/had...
2       3  [Receiving, block, blk_-1608999687919862906, s...
3       4  [Receiving, block, blk_-1608999687919862906, s...
4       5  [PacketResponder, 1, block, blk_-1608999687919...

In [105]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [106]:
# 표제어 추출
from nltk.stem import WordNetLemmatizer
text['Content'] = text['Content'].apply(lambda x : [WordNetLemmatizer().lemmatize(word, pos='v') for word in x])
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   LineId                                            Content
0       1  [Receiving, block, blk_-1608999687919862906, s...
1       2  [BLOCK*, NameSystem.allocateBlock, :, /mnt/had...
2       3  [Receiving, block, blk_-1608999687919862906, s...
3       4  [Receiving, block, blk_-1608999687919862906, s...
4       5  [PacketResponder, 1, block, blk_-1608999687919...

In [107]:
# 일정 길이 이하 단어 삭제 
tokenized_doc = text['Content'].apply(lambda x : [word for word in x if len(word) > 3])
tokenized_doc[:5]

0    [Receiving, block, blk_-1608999687919862906, /...
1    [BLOCK*, NameSystem.allocateBlock, /mnt/hadoop...
2    [Receiving, block, blk_-1608999687919862906, /...
3    [Receiving, block, blk_-1608999687919862906, /...
4    [PacketResponder, block, blk_-1608999687919862...
Name: Content, dtype: object

In [108]:
# 역토큰화
detokenized_doc = []
for i in range(len(text)):
    t = ' '.join(tokenized_doc[i])
    detokenized_doc.append(t)
text['Content'] = detokenized_doc
# 다시 text['Content'] 에 저장
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   LineId                                            Content
0       1  Receiving block blk_-1608999687919862906 /10.2...
1       2  BLOCK* NameSystem.allocateBlock /mnt/hadoop/ma...
2       3  Receiving block blk_-1608999687919862906 /10.2...
3       4  Receiving block blk_-1608999687919862906 /10.2...
4       5  PacketResponder block blk_-1608999687919862906...

In [109]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english', max_features=1000)
X = vectorizer.fit_transform(text['Content'])
X.shape

(104815, 1000)

In [110]:
len(vectorizer.get_feature_names())

1000

In [111]:
X.toarray().shape

(104815, 1000)

In [112]:
tf_idf = pd.DataFrame(X.toarray(), columns = vectorizer.get_feature_names())

In [113]:
tf_idf_mean = tf_idf.mean()

In [114]:
columns = tf_idf_mean.sort_values(ascending=False).index

In [ ]:
tf_idf[columns].to_csv('/content/HDFS_tf_idf.csv')

# syslog

In [20]:
df = pd.read_excel('./data/syslog 샘플.xls')
df.head()

     심각도  ...                                                 내용
0  ERROR  ...  [syslog]<43>Jan  8 11:39:07 Kolon_L7_trust_02 ...
1  ERROR  ...  [syslog]<43>Jan  8 11:39:07 Kolon_L7_trust_02 ...
2  ERROR  ...  [syslog]<43>Jan  8 11:39:06 Kolon_L7_trust_01 ...
3  ERROR  ...  [syslog]<43>Jan  8 11:38:07 Kolon_L7_trust_02 ...
4  ERROR  ...  [syslog]<43>Jan  8 11:38:07 Kolon_L7_trust_02 ...

[5 rows x 10 columns]

In [21]:
text = df[['내용']]
text.columns = ['Content']
text.head()

                                             Content
0  [syslog]<43>Jan  8 11:39:07 Kolon_L7_trust_02 ...
1  [syslog]<43>Jan  8 11:39:07 Kolon_L7_trust_02 ...
2  [syslog]<43>Jan  8 11:39:06 Kolon_L7_trust_01 ...
3  [syslog]<43>Jan  8 11:38:07 Kolon_L7_trust_02 ...
4  [syslog]<43>Jan  8 11:38:07 Kolon_L7_trust_02 ...

In [22]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [23]:
# 토큰화
text['Content'] = text.apply(lambda row: nltk.word_tokenize(row['Content']), axis=1)
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                             Content
0  [[, syslog, ], <, 43, >, Jan, 8, 11:39:07, Kol...
1  [[, syslog, ], <, 43, >, Jan, 8, 11:39:07, Kol...
2  [[, syslog, ], <, 43, >, Jan, 8, 11:39:06, Kol...
3  [[, syslog, ], <, 43, >, Jan, 8, 11:38:07, Kol...
4  [[, syslog, ], <, 43, >, Jan, 8, 11:38:07, Kol...

In [24]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [25]:
# 불용어 처리
stop = stopwords.words('english')
text['Content'] = text['Content'].apply(lambda x: [word for word in x if word not in (stop)])
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                             Content
0  [[, syslog, ], <, 43, >, Jan, 8, 11:39:07, Kol...
1  [[, syslog, ], <, 43, >, Jan, 8, 11:39:07, Kol...
2  [[, syslog, ], <, 43, >, Jan, 8, 11:39:06, Kol...
3  [[, syslog, ], <, 43, >, Jan, 8, 11:38:07, Kol...
4  [[, syslog, ], <, 43, >, Jan, 8, 11:38:07, Kol...

In [26]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [27]:
# 표제어 추출
from nltk.stem import WordNetLemmatizer
text['Content'] = text['Content'].apply(lambda x : [WordNetLemmatizer().lemmatize(word, pos='v') for word in x])
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                             Content
0  [[, syslog, ], <, 43, >, Jan, 8, 11:39:07, Kol...
1  [[, syslog, ], <, 43, >, Jan, 8, 11:39:07, Kol...
2  [[, syslog, ], <, 43, >, Jan, 8, 11:39:06, Kol...
3  [[, syslog, ], <, 43, >, Jan, 8, 11:38:07, Kol...
4  [[, syslog, ], <, 43, >, Jan, 8, 11:38:07, Kol...

In [28]:
# 일정 길이 이하 단어 삭제 
tokenized_doc = text['Content'].apply(lambda x : [word for word in x if len(word) > 3])
tokenized_doc[:5]

0    [syslog, 11:39:07, Kolon_L7_trust_02, syslog-n...
1    [syslog, 11:39:07, Kolon_L7_trust_02, syslog-n...
2    [syslog, 11:39:06, Kolon_L7_trust_01, syslog-n...
3    [syslog, 11:38:07, Kolon_L7_trust_02, syslog-n...
4    [syslog, 11:38:07, Kolon_L7_trust_02, syslog-n...
Name: Content, dtype: object

In [29]:
# 역토큰화
detokenized_doc = []
for i in range(len(text)):
    t = ' '.join(tokenized_doc[i])
    detokenized_doc.append(t)
text['Content'] = detokenized_doc
# 다시 text['Content'] 에 저장
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                             Content
0  syslog 11:39:07 Kolon_L7_trust_02 syslog-ng 12...
1  syslog 11:39:07 Kolon_L7_trust_02 syslog-ng 12...
2  syslog 11:39:06 Kolon_L7_trust_01 syslog-ng 12...
3  syslog 11:38:07 Kolon_L7_trust_02 syslog-ng 12...
4  syslog 11:38:07 Kolon_L7_trust_02 syslog-ng 12...

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english', max_features=1000)
X = vectorizer.fit_transform(text['Content'])
X.shape

(10000, 347)

In [31]:
len(vectorizer.get_feature_names())

347

In [32]:
X.toarray().shape

(10000, 347)

In [33]:
tf_idf = pd.DataFrame(X.toarray(), columns = vectorizer.get_feature_names())

In [34]:
tf_idf_mean = tf_idf.mean()

In [35]:
columns = tf_idf_mean.sort_values(ascending=False).index

In [36]:
tf_idf[columns].to_csv('/content/syslog_tf_idf.csv')

In [62]:
df = pd.read_excel('./data/이벤트 목록_log1.xls')
add = pd.read_excel('./data/이벤트 목록_log2.xls')
add2  = pd.read_excel('./data/이벤트 목록_log3.xls')
df = pd.concat([df,add, add2])
df = df.reset_index(drop = True)

df.head()

    심각도  ...                                               상세내용
0  INFO  ...  BENIT_Client IP1 : 114.119.158.142, user_no : ...
1  INFO  ...  BENIT_Client IP2 : 114.119.158.142, user_no : ...
2  INFO  ...  BENIT_Client IP2 : 203.225.82.146, user_no : n...
3  INFO  ...  BENIT_Client IP2 : 203.225.82.146, user_no : n...
4  INFO  ...  BENIT_Client IP1 : 203.225.82.146, user_no : n...

[5 rows x 10 columns]

In [63]:
text = df[['상세내용']]
text.columns = ['Content']
text.head()

                                             Content
0  BENIT_Client IP1 : 114.119.158.142, user_no : ...
1  BENIT_Client IP2 : 114.119.158.142, user_no : ...
2  BENIT_Client IP2 : 203.225.82.146, user_no : n...
3  BENIT_Client IP2 : 203.225.82.146, user_no : n...
4  BENIT_Client IP1 : 203.225.82.146, user_no : n...

In [64]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [65]:
# 토큰화
text['Content'] = text.apply(lambda row: nltk.word_tokenize(row['Content']), axis=1)
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                             Content
0  [BENIT_Client, IP1, :, 114.119.158.142, ,, use...
1  [BENIT_Client, IP2, :, 114.119.158.142, ,, use...
2  [BENIT_Client, IP2, :, 203.225.82.146, ,, user...
3  [BENIT_Client, IP2, :, 203.225.82.146, ,, user...
4  [BENIT_Client, IP1, :, 203.225.82.146, ,, user...

In [66]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [67]:
# 불용어 처리
stop = stopwords.words('english')
text['Content'] = text['Content'].apply(lambda x: [word for word in x if word not in (stop)])
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                             Content
0  [BENIT_Client, IP1, :, 114.119.158.142, ,, use...
1  [BENIT_Client, IP2, :, 114.119.158.142, ,, use...
2  [BENIT_Client, IP2, :, 203.225.82.146, ,, user...
3  [BENIT_Client, IP2, :, 203.225.82.146, ,, user...
4  [BENIT_Client, IP1, :, 203.225.82.146, ,, user...

In [68]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [69]:
# 표제어 추출
from nltk.stem import WordNetLemmatizer
text['Content'] = text['Content'].apply(lambda x : [WordNetLemmatizer().lemmatize(word, pos='v') for word in x])
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                             Content
0  [BENIT_Client, IP1, :, 114.119.158.142, ,, use...
1  [BENIT_Client, IP2, :, 114.119.158.142, ,, use...
2  [BENIT_Client, IP2, :, 203.225.82.146, ,, user...
3  [BENIT_Client, IP2, :, 203.225.82.146, ,, user...
4  [BENIT_Client, IP1, :, 203.225.82.146, ,, user...

In [70]:
# 일정 길이 이하 단어 삭제 
tokenized_doc = text['Content'].apply(lambda x : [word for word in x if len(word) > 3])
tokenized_doc[:5]

0    [BENIT_Client, 114.119.158.142, user_no, null,...
1    [BENIT_Client, 114.119.158.142, user_no, null,...
2    [BENIT_Client, 203.225.82.146, user_no, null, ...
3    [BENIT_Client, 203.225.82.146, user_no, null, ...
4    [BENIT_Client, 203.225.82.146, user_no, null, ...
Name: Content, dtype: object

In [72]:
# 역토큰화
detokenized_doc = []
for i in range(len(text)):
    t = ' '.join(tokenized_doc[i])
    detokenized_doc.append(t)
text['Content'] = detokenized_doc
# 다시 text['Content'] 에 저장
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                             Content
0  BENIT_Client 114.119.158.142 user_no null sess...
1  BENIT_Client 114.119.158.142 user_no null Head...
2  BENIT_Client 203.225.82.146 user_no null Heade...
3  BENIT_Client 203.225.82.146 user_no null Heade...
4  BENIT_Client 203.225.82.146 user_no null sessi...

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english', max_features=1000)
X = vectorizer.fit_transform(text['Content'])
X.shape

(30000, 1000)

In [74]:
len(vectorizer.get_feature_names())

1000

In [75]:
X.toarray().shape

(30000, 1000)

In [76]:
tf_idf = pd.DataFrame(X.toarray(), columns = vectorizer.get_feature_names())

In [77]:
tf_idf_mean = tf_idf.mean()

In [78]:
columns = tf_idf_mean.sort_values(ascending=False).index

In [79]:
tf_idf[columns].to_csv('/content/이벤트로그_tf_idf.csv')

In [80]:
df = pd.read_excel('./data/이벤트 목록_waslog1.xls')
add = pd.read_excel('./data/이벤트 목록_waslog2.xls')
add2  = pd.read_excel('./data/이벤트 목록_waslog3.xls')
df = pd.concat([df,add, add2])
df = df.reset_index(drop = True)

df.head()

     심각도  ...                                               상세내용
0  ERROR  ...                    warning slow sql, over 30000 ms
1  ERROR  ...  org.apache.catalina.connector.ClientAbortExcep...
2  ERROR  ...  java.net.ConnectException: Connection refused:...
3  ERROR  ...  java.sql.SQLException: ORA-12899: "BPOADM"."AC...
4  ERROR  ...  java.sql.SQLException: ORA-12899: "BPOADM"."AC...

[5 rows x 10 columns]

In [81]:
text = df[['상세내용']]
text.columns = ['Content']
text.head()

                                             Content
0                    warning slow sql, over 30000 ms
1  org.apache.catalina.connector.ClientAbortExcep...
2  java.net.ConnectException: Connection refused:...
3  java.sql.SQLException: ORA-12899: "BPOADM"."AC...
4  java.sql.SQLException: ORA-12899: "BPOADM"."AC...

In [82]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [83]:
# 토큰화
text['Content'] = text.apply(lambda row: nltk.word_tokenize(row['Content']), axis=1)
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                             Content
0           [warning, slow, sql, ,, over, 30000, ms]
1  [org.apache.catalina.connector.ClientAbortExce...
2  [java.net.ConnectException, :, Connection, ref...
3  [java.sql.SQLException, :, ORA-12899, :, ``, B...
4  [java.sql.SQLException, :, ORA-12899, :, ``, B...

In [84]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [85]:
# 불용어 처리
stop = stopwords.words('english')
text['Content'] = text['Content'].apply(lambda x: [word for word in x if word not in (stop)])
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                             Content
0                 [warning, slow, sql, ,, 30000, ms]
1  [org.apache.catalina.connector.ClientAbortExce...
2  [java.net.ConnectException, :, Connection, ref...
3  [java.sql.SQLException, :, ORA-12899, :, ``, B...
4  [java.sql.SQLException, :, ORA-12899, :, ``, B...

In [86]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [87]:
# 표제어 추출
from nltk.stem import WordNetLemmatizer
text['Content'] = text['Content'].apply(lambda x : [WordNetLemmatizer().lemmatize(word, pos='v') for word in x])
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                             Content
0                    [warn, slow, sql, ,, 30000, ms]
1  [org.apache.catalina.connector.ClientAbortExce...
2  [java.net.ConnectException, :, Connection, ref...
3  [java.sql.SQLException, :, ORA-12899, :, ``, B...
4  [java.sql.SQLException, :, ORA-12899, :, ``, B...

In [88]:
# 일정 길이 이하 단어 삭제 
tokenized_doc = text['Content'].apply(lambda x : [word for word in x if len(word) > 3])
tokenized_doc[:5]

0                                  [warn, slow, 30000]
1    [org.apache.catalina.connector.ClientAbortExce...
2    [java.net.ConnectException, Connection, refuse...
3    [java.sql.SQLException, ORA-12899, BPOADM, AC_...
4    [java.sql.SQLException, ORA-12899, BPOADM, AC_...
Name: Content, dtype: object

In [89]:
# 역토큰화
detokenized_doc = []
for i in range(len(text)):
    t = ' '.join(tokenized_doc[i])
    detokenized_doc.append(t)
text['Content'] = detokenized_doc
# 다시 text['Content'] 에 저장
text.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                             Content
0                                    warn slow 30000
1  org.apache.catalina.connector.ClientAbortExcep...
2  java.net.ConnectException Connection refuse co...
3  java.sql.SQLException ORA-12899 BPOADM AC_BOND...
4  java.sql.SQLException ORA-12899 BPOADM AC_BOND...

In [90]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english', max_features=1000)
X = vectorizer.fit_transform(text['Content'])
X.shape

(30000, 1000)

In [91]:
len(vectorizer.get_feature_names())

1000

In [92]:
X.toarray().shape

(30000, 1000)

In [93]:
tf_idf = pd.DataFrame(X.toarray(), columns = vectorizer.get_feature_names())

In [94]:
tf_idf_mean = tf_idf.mean()

In [95]:
columns = tf_idf_mean.sort_values(ascending=False).index

In [96]:
tf_idf[columns].to_csv('/content/이벤트로그_WAS_tf_idf.csv')